<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="icon" href="img/residentevil.ico">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body background="img/background.jpg">
	<font size="5" face="Calibri Light" color="white">
		<div class="navbar-fixed">
			<nav class="green darken-10">
				<div class="nav-wrapper">
					<a href="#!" class="brand-logo">J.J.Ranara-Productions</a>
					<ul class="right hide-on-med-and-down">
						<li><a href="/" class="waves-effect waves-light btn">Home</a></li>
					</ul>
				</div>
			</nav>
		</div>
		<h1><center>Hi my name is Jericho James C. Ranara this is my first website</center></h1>
		<font size="5" face="Calibri Light" color="white">
			<h3><center><font color="red">Welcome to Umbrella Corporation</font></center></h2>
				<br><br></br></br></br></br></br></br></br></br></br>
				<h3><font color="yellow">You are entering a dangerous zone!</font></h3>

				<audio loop="true" autoplay="true">
					<source src="audio/residentevil.ogg" type="audio/ogg">
						<source src="audio/residentevil.mp3" type="audio/mpeg">
						</audio>
					</body>
					</html>