<!DOCTYPE html>
<html>
<head>
	<title>Gallery</title>
	<link rel="icon" href="img/residentevil.ico">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="style.css"/>

</head>
<body>


	<div class="navbar-fixed">
		<nav class="green darken-10">
			<div class="nav-wrapper">
				<a href="#!" class="brand-logo">J.J.Ranara-Productions</a>
				<ul class="right hide-on-med-and-down">
					<li><a href="/" class="waves-effect waves-light btn">Home</a></li>
					<li><a href="/villains" class="waves-effect waves-light btn">Villains</a></li>

				</ul>
			</div>
		</nav>
	</div>

	<div style = "background-color: darkred; color:white; padding: 1px;">
		<div class="sk-folding-cube">
			<div class="sk-cube1 sk-cube"></div>
			<div class="sk-cube2 sk-cube"></div>
			<div class="sk-cube4 sk-cube"></div>
			<div class="sk-cube3 sk-cube"></div>
		</div>
		<h1><p align = "center"><b>Welcome!</b></p></h1>
		<h1><p align = "center"><b>Resident Evil Gallery!</b></p></h1>	
	</div>

	<div style = "background-color: black; color:red; padding: 20px;">


		<section>
			<div class ="gallery-box">
				<div class =" wrapper">
				<a href="/img/residentevil">
						<div class = "img-single"><center>
							<img src="img/residentevil/residentevil.jpg" style="width:900px;height:600px;">
						</div></center></a>
					<a href="/img/residentevil">
						<div class = "img-single"><center>
							<img src="img/residentevil/residentevil1.jpg" style="width:900px;height:600px;">
						</div></center></a>
						<a href="/img/residentevil">
							<div class = "img-single"><center>
								<img src="img/residentevil/residentevil2.jpg" style="width:900px;height:600px;">
							</div></center></a>
							<a href="/img/residentevil"><center>
								<div class = "img-single">
									<img src="img/residentevil/residentevil3.jpg" style="width:900px;height:600px;">
								</div></center></a>
								<a href="/img/residentevil"><center>
									<div class = "img-single">
										<img src="img/residentevil/residentevil4.jpg" style="width:900px;height:600px;">
									</div></center></a>
								</div>
								<a href="/img/residentevil"><center>
									<div class = "img-single">
										<img src="img/residentevil/residentevil5.jpg" style="width:900px;height:600px;">
									</div></center></a>
								</div>
							</div>
						</section>




						<audio loop="true" autoplay="true">
							<source src="audio/residentevil.ogg" type="audio/ogg">
								<source src="audio/residentevil.mp3" type="audio/mpeg">
								</audio>



							</body>
							</html>