<!DOCTYPE html>
<html>
<head>
	<title>Villains</title>
			<link rel="icon" href="img/residentevil.ico">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="style.css"/>
</head>

<body>
<div class="navbar-fixed">
		<nav class="green darken-10">
			<div class="nav-wrapper">
				<a href="#!" class="brand-logo">J.J.Ranara-Productions</a>
				<ul class="right hide-on-med-and-down">
					<li><a href="/" class="waves-effect waves-light btn">Home</a></li>
				</ul>
			</div>
		</nav>
	</div>

<div style = "background-color: darkred; color:white; padding: 1px;">
		<div class="sk-folding-cube">
			<div class="sk-cube1 sk-cube"></div>
			<div class="sk-cube2 sk-cube"></div>
			<div class="sk-cube4 sk-cube"></div>
			<div class="sk-cube3 sk-cube"></div>
		</div>
		<h1><p align = "center"><b>Villains</b></p></h1>
	</div>

	<div style = "background-color: black; color:red; padding: 20px;">


	<h2 style="text-align:center;"></h2>
	<img src="img/residentevil/villain1.jpg" width="400px" height=600px;/>
	<img src="img/residentevil/villain2.jpg" width="400px" height=600px;/>
	<img src="img/residentevil/villain3.jpg" width="400px" height=600px;/>
	<img src="img/residentevil/villain4.jpg" width="400px" height=600px;/>
	<img src="img/residentevil/villain5.jpg" width="400px" height=600px;/>
	<img src="img/residentevil/villain6.jpg" width="400px" height=600px;/>
	<img src="img/residentevil/villain7.jpg" width="400px" height=600px;/>
	<img src="img/residentevil/villain8.jpg" width="400px" height=600px;/>
	</hr>		

	<audio loop="true" autoplay="true">
	<source src="audio/residentevil.ogg" type="audio/ogg">
	<source src="audio/residentevil.mp3" type="audio/mpeg">
	</audio>

</body>
</html>